<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aeon Command Line Application.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Aeon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A1C55881BECE19A006EC3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A1C55911BECE19A006EC3F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D5216F1BE4F753002063D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D521791BE4F753002063D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0D521BE1BE53AD7002063D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
